<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MinuteRunTimer" value="" />
    <add key="NisraProcessFolder" value="" />
    <add key="NisraBackupFolder" value="" />
    <add key="RabbitHostName" value="" />
    <add key="RabbitUserName" value="" />
    <add key="RabbitPassword" value="" />
    <add key="RabbitExchange" value=""/>
    <add key="CaseStatusQueueName" value="" />
    <add key="BlaiseServerHostName" value=""/>
    <add key="BlaiseServerUserName" value=""/>
    <add key="BlaiseServerPassword" value=""/>
  </appSettings>
</configuration>