<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="QuartzCron" value="#{QuartzCron}#"/>
    <add key="NisraProcessFolder" value="#{NisraProcessFolder}#"/>
    <add key="RabbitHostName" value="#{RabbitHostName}#"/>
    <add key="RabbitUserName" value="#{RabbitUserName}#"/>
    <add key="RabbitPassword" value="#{RabbitPassword}#"/>
    <add key="RabbitExchange" value="#{RabbitExchange}#"/>
    <add key="CaseStatusQueueName" value="#{CaseStatusQueueName}#"/>
    <add key="BlaiseServerHostName" value="#{BlaiseServerHostName}#"/>
    <add key="BlaiseServerUserName" value="#{BlaiseServerUserName}#"/>
    <add key="BlaiseServerPassword" value="#{BlaiseServerPassword}#"/>
    <add key="BlaiseServerBinding" value="#{BlaiseServerBinding}#"/>
    
  </appSettings>
</configuration>
