<log4net>
  
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>

  <!-- set datepattern to “.yyyyMMdd” and maxSizeRollBackups set to 1, then it will maintain 1 log backup for each day, with a max file size of 200MB. -->
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="logs\bncp.log" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value=".yyyyMMdd'.log'" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="200MB" />
    <countDirection value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message %newline" />
    </layout>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
  
</log4net>
