<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="QuartzCron" value="0 30 * * * ? *" />
    <add key="NisraProcessFolder" value="C:\Blaise_NISRA_Proc" />
    <add key="RabbitHostName" value="" />
    <add key="RabbitUserName" value="" />
    <add key="RabbitPassword" value="" />
    <add key="RabbitExchange" value=""/>
    <add key="CaseStatusQueueName" value="" />
    <add key="BlaiseServerHostName" value=""/>
    <add key="BlaiseServerUserName" value=""/>
    <add key="BlaiseServerPassword" value=""/>
    <add key="BlaiseServerBinding" value=""/>
  </appSettings>
</configuration>
